.border {
    border: 1px solid #729090;
    border-radius: 3px;
}

.heading {
    font: 14px bold;
    vertical-align:middle;
    font-family: Calibri, sans-serif;
}

.window-wrap {
    margin: 0 auto;
    font-family: 'Segoe UI';
    font-size: 12px;
    width:409px;
    height:350px;

    background: #cee6fe;
    background: -moz-linear-gradient(top,  #cee6fe 0%, #b8dbfd 66%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee6fe), color-stop(66%,#b8dbfd)); 
	background: -webkit-linear-gradient(top,  #cee6fe 0%,#b8dbfd 66%); 
	background: -o-linear-gradient(top,  #cee6fe 0%,#b8dbfd 66%); 
	background: -ms-linear-gradient(top,  #cee6fe 0%,#b8dbfd 66%); 
	background: linear-gradient(to bottom,  #cee6fe 0%,#b8dbfd 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee6fe', endColorstr='#b8dbfd',GradientType=0 );

    box-shadow: 2px 2px 15px #000;
    padding: 25px 7px 27px 7px;
    cursor: default;
    border: 1px solid #444444;
    border-radius: 10px;
    position:relative;
}

#calc-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 11px;
    font-family:Verdana,sans-serif; 
}

div.window-buttons div.lightButtons {
    width:26px;
    height:18px;
    border-right: 1px solid #545b64;
    float: left;
    text-align:center;
    color:white;
    font-size:14px;
    font-weight:bold;

    background: #e4eef9; 
	background: -moz-linear-gradient(top,  #e4eef9 0%, #ccdae8 52%, #aabed2 53%, #bbcee5 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4eef9), color-stop(52%,#ccdae8), color-stop(53%,#aabed2), color-stop(100%,#bbcee5)); 
	background: -webkit-linear-gradient(top,  #e4eef9 0%,#ccdae8 52%,#aabed2 53%,#bbcee5 100%);
	background: -o-linear-gradient(top,  #e4eef9 0%,#ccdae8 52%,#aabed2 53%,#bbcee5 100%); 
	background: -ms-linear-gradient(top,  #e4eef9 0%,#ccdae8 52%,#aabed2 53%,#bbcee5 100%);
	background: linear-gradient(to bottom,  #e4eef9 0%,#ccdae8 52%,#aabed2 53%,#bbcee5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4eef9', endColorstr='#bbcee5',GradientType=0 );
}

div.window-buttons div#minimize-button {
    border-radius: 0 0 0 5px;
    cursor: default;
}

div.window-buttons div#minimize-button:hover {
    background: #aad1e9;
	background: -moz-linear-gradient(top,  #aad1e9 0%, #82b3d8 51%, #2278af 52%, #35cfe3 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aad1e9), color-stop(51%,#82b3d8), color-stop(52%,#2278af), color-stop(100%,#35cfe3));
	background: -webkit-linear-gradient(top,  #aad1e9 0%,#82b3d8 51%,#2278af 52%,#35cfe3 100%); 
	background: -o-linear-gradient(top,  #aad1e9 0%,#82b3d8 51%,#2278af 52%,#35cfe3 100%); 
	background: -ms-linear-gradient(top,  #aad1e9 0%,#82b3d8 51%,#2278af 52%,#35cfe3 100%); 
	background: linear-gradient(to bottom,  #aad1e9 0%,#82b3d8 51%,#2278af 52%,#35cfe3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad1e9', endColorstr='#35cfe3',GradientType=0 ); 
}

div.window-buttons div#closeButton {
    width:46px;
    height:18px;
    border-radius:0 0 5px 0;
    float:left;
    text-align:center;
    font-weight:bold;
    color:white;
    background: #e0b2b0;
	background: -moz-linear-gradient(top,  #e0b2b0 0%, #cd837d 52%, #b44a3f 53%, #d08475 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0b2b0), color-stop(52%,#cd837d), color-stop(53%,#b44a3f), color-stop(100%,#d08475)); 
	background: -webkit-linear-gradient(top,  #e0b2b0 0%,#cd837d 52%,#b44a3f 53%,#d08475 100%); 
	background: -o-linear-gradient(top,  #e0b2b0 0%,#cd837d 52%,#b44a3f 53%,#d08475 100%); 
	background: -ms-linear-gradient(top,  #e0b2b0 0%,#cd837d 52%,#b44a3f 53%,#d08475 100%); 
	background: linear-gradient(to bottom,  #e0b2b0 0%,#cd837d 52%,#b44a3f 53%,#d08475 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0b2b0', endColorstr='#d08475',GradientType=0 );
	cursor: default;
}

div.window-buttons div#closeButton:hover{
	background: #e9988c;
	background: -moz-linear-gradient(top,  #e9988c 0%, #da6956 50%, #b4230c 51%, #db7c2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9988c), color-stop(50%,#da6956), color-stop(51%,#b4230c), color-stop(100%,#db7c2e)); 
	background: -webkit-linear-gradient(top,  #e9988c 0%,#da6956 50%,#b4230c 51%,#db7c2e 100%);
	background: -o-linear-gradient(top,  #e9988c 0%,#da6956 50%,#b4230c 51%,#db7c2e 100%); 
	background: -ms-linear-gradient(top,  #e9988c 0%,#da6956 50%,#b4230c 51%,#db7c2e 100%); 
	background: linear-gradient(to bottom,  #e9988c 0%,#da6956 50%,#b4230c 51%,#db7c2e 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9988c', endColorstr='#db7c2e',GradientType=0 );
}

div.window-buttons {
    position:absolute;
    top:0;
    right:6px;
    width:100px;
    height:18px;
    border: 1px solid #545b64;
    border-top:none;
    border-radius: 0 0 5px 5px;
}

ul#menu li {
    padding: 0;
    list-style:none;
    display:inline;
    margin-left:7px;
    color:#111;
}

ul#menu {
    background: #fcfdfe;
    background: -moz-linear-gradient(top,  #fcfdfe 1%, #fcfdfe 12%, #d7def0 44%, #d7def0 56%, #d7def0 56%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfdfe), color-stop(12%,#fcfdfe), color-stop(44%,#d7def0), color-stop(56%,#d7def0), color-stop(56%,#d7def0)); 
	background: -webkit-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%);
	background: -o-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%); 
	background: -ms-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%); 
	background: linear-gradient(to bottom,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfe', endColorstr='#d7def0',GradientType=0 );
    margin:0px;
    border-bottom:1px solid #ccc;
    padding: 1px 0 1px 3px;
}

#menu li:hover{
    border: 1px solid #777777;
    border-radius:3px;
    cursor:default;
    text-decoration:underline;
}

.keyShortcut {
    text-decoration:underline;
}

#inner {
    border: 1px solid #729090;
    height:100%;
    background: #B8DBFD; /* Old browsers */
	background: -moz-linear-gradient(top,  #B8DBFD 0%, #d9e4f1 28%, #d9e4f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(28%,#d9e4f1), color-stop(100%,#d9e4f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-9 */
	color: #1E395B;
}

input#numbersArea {
    background: #e6effb; 
	background: -moz-linear-gradient(top,  #e6effb 0%, #edf4fc 18%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6effb), color-stop(18%,#edf4fc), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #e6effb 0%,#edf4fc 18%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6effb', endColorstr='#ffffff',GradientType=0 ); 
    border: 1px solid #729090;
    font-family:Consolas;
    width:92%;
    height:37px;
    margin: 10px 10px 5px 10px;
    padding: 10px 10px 0 0;
    font-size:24px;
    outline:none;
}

#bits {
    width: 93.8%;
    margin-left: 10px;
    padding:1px;
}

#bits ul {
    margin:0;
    padding:0;
}

#bits ul li {
    font-family:Consolas;
    list-style:none;
    display:inline;
    margin-left:16px;
}

li.bitPosition {
    color: #afbac7;
}

#left {
    padding: 0 0 0 10px;
    float:left;
}

.numeralSystem {
    margin-top:5px;
    padding: 5px 0 4px 3px;
    width: 65px;
    height: 89px;
}

.numeralSystem span {
    display:block;
    margin-bottom: 1px;
}

#buttons {
    display:inline-block;
    float:left;
}

.row {
    margin: 5px 0 0 5px;
}

button {
    padding: 0;
    margin-right:2px;
    font-family: 'Segoe UI';
    height:29px;
    width:35px;
    color: #1E395B;
    outline:none;
}

button:hover {
    background: #fef4c5; 
	background: -moz-linear-gradient(top,  #fef4c5 0%, #fce3c7 47%, #e6dd83 52%, #fbeb8d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef4c5), color-stop(47%,#fce3c7), color-stop(52%,#e6dd83), color-stop(100%,#fbeb8d)); 
	background: -webkit-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%); 
	background: -o-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%); 
	background: -ms-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%);
	background: linear-gradient(to bottom,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef4c5', endColorstr='#fbeb8d',GradientType=0 );
	border: 1px solid #F7DD34;
}

button:active {
    background: #f3e074;
	background: -moz-linear-gradient(top,  #f3e074 0%, #f5bb57 52%, #f5bb57 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e074), color-stop(52%,#f5bb57), color-stop(100%,#f5bb57)); 
	background: -webkit-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%); 
	background: -o-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%); 
	background: -ms-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%); 
	background: linear-gradient(to bottom,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e074', endColorstr='#f5bb57',GradientType=0 ); 
	border: 1px solid #c29b29;
}

.special {
    padding: 0;
    line-height:27px;
    font-size: 11px;
    background: #f6fafe; 
	background: -moz-linear-gradient(top,  #f6fafe 0%, #edf3f8 49%, #e7edf5 50%, #d7e2ef 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fafe), color-stop(49%,#edf3f8), color-stop(50%,#e7edf5), color-stop(100%,#d7e2ef)); 
	background: -webkit-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%); 
	background: -o-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%); 
	background: -ms-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%); 
	background: linear-gradient(to bottom,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fafe', endColorstr='#d7e2ef',GradientType=0 );
	border: 1px solid #8797AA;
}

.disabled {
    border: 1px solid #B4C2D1;
    background-color: #D9E4F1;
}

#zero {
    width: 75px;
}

#equals {
    margin-top:5px;
    float:right;
    height:65px;
}