body {
    margin: 15px;
    font: 14px Veranda, sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}

.music-categories {
    padding: 15px;
    width: 400px;
    background-color: #eee;
    border-radius: 10px;
}

    .music-categories h1 {
        margin-bottom: 30px;
    }

.music-category {
    overflow:hidden;
    padding:15px;
    border: 1px solid #989898;
    background-color: #fff;
    margin-top:40px;
    margin-bottom:15px;
}

.music-category:not(:last-child) {
    margin-bottom:15px;
}

.music-category img {
    float:left;
    margin-right:15px;
    border: 1px solid #9A9592;
    width: 130px;
    height: 86px;
}

.music-category p {
    margin:0;
}

.actions {
    text-align:right;
}

.btn {
    display:inline-block;
    margin-top:15px;
    padding: 0 10px 0 25px;
    color: #fff;
    text-decoration:none;
    line-height:1.5em;
    border-top: 2px solid #E38382;
    border-right: 2px solid #650000;
    border-bottom: 2px solid #650000;
    border-left: 2px solid #9C2829;
    background: #f00;
    box-shadow: inset 15px 0 0 #8A0000;
}
.btn:hover { text-decoration: underline; }